/* position absolute
ejercicio

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.conteiner{
    
    
    position: relative;
}


/* hover */
.conteiner:hover .tooltip{
    opacity: 1;
    top:-2.75rem
}


.tooltip{
    opacity: 0;
    position: absolute;
    top: -1.9rem;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.25s ,top 0.25s;
}






.tooltip .content {
    background: black;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius:0.25rem;
    white-space: nowrap;
}

.tooltip .triangulo{
    position:absolute;
    background: black;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translate(-50%, 50%);
    left:50%;
    bottom: -.2rem;
    /* border: 1px solid red; */

}
