/* blending modes MODOS DE FUSION


mix-blend-mode:normal------>modo de fusion de elementos
background-blend-mode   --------->modo de fuison de fondos



initial--->no establece ningun modo de fuiones(valor inicial)
normal---> no aplica ninguna mezcla
unset---->elimina el modo de fusion actual
inherit--->heredar los modos de fusion


MULTIPLICAR--->cuanto se multiplica con el color blanco da el mismo color del

           ---> cuando se multiplica con el color negro siempre sa un color negro


SCREEM---->hace lo minsmo que multiply solo que aclara las mezclas de color
      ---->cuando se aplica el color blanco siempre dara blanco analogo a multiply pero de forma inversa

OVERLAY --->RESPETA la luminocidad y las sombras sin afectar el color base

HARD-LIGHT--->hibrido entre screem y multiply  combinacion de ambos

SOFT*LIGTH --->VERSION REDUCIDA DE OVERLAY

COLOR-DOGGE--->refuerza las zonas claras de la fusion del

COLOR-BURN--->REFUERZA LAS ZONAS OSCURAS DE LA FUSION

DARKEN --->compara los colores que hay en las capas y selecciona el mas oscuro a prtir de ahi remplaza los pizeles mas claros por los mas oscuros cuando se usa un color muy claro no se nota mucho el efecto

LIGHTEN---> ANALOGO A DARKEN lo inverso
cuando se agregan colores que no tienen mucha luminosidad no se aprecia mucho el efecto


****************************************************************

DIFERENCE---->RESTA el color con mayor luminosidad con el que tiene menor
              con el color negro no afecta a la operacion por tener el valor de 0 en rgb

*/



body{
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  min-height:100vh;
  background-color: rgb(29, 29, 29);
  background-image: url('modosFusion/ejemplo1.jpg');
  background-blend-mode: difference;
  display: flex;
  justify-content: center;
  align-items: center;
} 


.conteiner{
  position: relative;
  margin: 5rem;
}


h1{

  position:absolute;
  left: -4rem;
  color:rgb(0, 0, 255)
}

.elemento{
  width: 300px;
  height:300px;
  background:linear-gradient(orange,blue);
  mix-blend-mode: difference;
}

/* 
azul--->rgb(0, 0, 255)-
rojo--->rgb(255, 0, 0)
       ---------------
       rgb(255-0,0-0,255-0)


*/