/*CONTADORES

*/

body{
    counter-reset:capitulo
}

section{
    counter-increment: capitulo;
    counter-reset:subcapitulo;
}

p{
    counter-increment:subcapitulo;
}

p::before{
    content: counter(capitulo)'.'counter(subcapitulo) ' ';
    font-weight: 800;
}

h2::after{
    content: ' N°' counter(capitulo)
}